<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admin-semster.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>

    <script>

        function validateForm() {
           
            var x = document.forms["nam"]["name"].value;
            var a = document.forms["nam"]["degree"];
            var y = document.forms["nam"]["branch"];
            var z = document.forms["nam"]["batch"];
            var b = document.getElementById("file-up").files.length == 0;

            
            if (x == "") {
                document.querySelector(".errtxt").textContent = "Please Enter the name of Semester";
                document.querySelector(".errtxt").style.display = "flex";
                return false;
            }

            if (a.selectedIndex == 0) {
                document.querySelector(".errtxt").textContent = "Please Select Degree";
                document.querySelector(".errtxt").style.display = "flex";
                return false;
            }

            if (y.selectedIndex == 0) {
                document.querySelector(".errtxt").textContent = "Please Select Branch";
                document.querySelector(".errtxt").style.display = "flex";
                return false;
            }

            if (z.selectedIndex == 0) {
                document.querySelector(".errtxt").textContent = "Please Select Batch";
                document.querySelector(".errtxt").style.display = "flex";
                return false;
            }

            if (b) { 
                document.querySelector(".errtxt").textContent = "Please Upload File";
                document.querySelector(".errtxt").style.display = "flex";
                return false;
            }
          
        }

    </script>


</head>
<body>
    <div class="wrapper">
        <div class="upperbar">
            <div class="weblogoplace">
                <img src="img/logo.png" alt="not rendered" id="weblogoimg">
            </div>
            <div class="webnameplace">
                <div class="webname">
                    <p id="temp1">Student Information System</p>
                </div>
            </div>
        </div>
        <div class="downflex">
            <div class="sidenav">
                <div class="sidenavopt">
                    <ul>
                        <li><a href='/adminhome' class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
                        <li id="for-down"><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
                                <select name="" id="test" onmousedown="forfocus()" onblur="forblur()" class="dropmenu"
                                    onchange="window.location.href=this.value;">
                                    <option value="none" selected disabled hidden class="dropitems">New Registration
                                    </option>
                                    <option
                                        value="/admin-student-registration"
                                        class="dropitmes">Student Registration</option>
                                </select>
                            </a></li>

                        <li><a href="/viewcourse"><i class="fa-solid fa-clipboard"></i>&nbsp;Course Management </a>
                        </li>
                        <li><a href="/viewdegree"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Degree
                                Management </a></li>
                        <li><a href="/viewbranch"><i class="fa-solid fa-clipboard"></i>&nbsp;Branch Management </a>
                        </li>
                        <li><a href="/viewprogram"><i class="fa-solid fa-clipboard"></i>&nbsp;Programme Management
                            </a></li>
                        <li><a href="/addsemester"><i class="fa-solid fa-clipboard"></i>&nbsp;Semester </a></li>

                        <li><a href="/admin-announcement"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Announcement </a></li>

                        
                        <li><a href="/changepwdadmin"><i class="fa-solid fa-key"></i> Change Password
                            </a></li>
                        <li><a href="/logoutadmin"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
                    </ul>
                </div>
                <div class="sidenavdown">
                    <div class="curruserlogo">

                    </div>
                    <div class="currusername">
                        <%= user[0].admin_name %> 
                    </div>
                </div>
            </div>

            <div class="content">

                <form action="/addsemester" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" name="nam">

                    <div class="table-wrapper" id="upper-sec">

                        <div class="maintag-place">
                            <h2>Add New Semester</h2>
                        </div>

                        <div class="temp-wrapper">
                            <div class="tag-place">
                                <p class="tag-text"><b>Enter Semester Name :-</b></p>
                            </div>
                            <div class="inputbox-place">
                                <input type="text" name="name" class="ip-box" id="ip-name">
                                <hr>
                            </div>
                        </div>
                        
                        </div>

                        <div class="table-wrapper">
                            <table>
                                <thead>
                                   
                                    <!-- <th style="width: 10%;">Sr No.</th> -->
                                    <th style="width: 15%;">Degree</th>
                                    <th style="width: 15%;">Branch</th>
                                    <th style="width: 15%;">Batch</th>
                                    <th style="width: 35%;">Upload</th>
                                    <th style="width: 20%;"> Submit</th>
                                </thead>


                                <tbody>
                                    <div class="temp-div">

                                        
                                            
                                            <tr>
                                                
                                                <td class="center-items" id="drop-1">
                                                    <center>

                                                        <select name="degree" id="course-dropdown" class="dropmenu">

                                                            <option value="none" 
                                                                class="dropitems">Select Degree</option>
                                                                <% for(var i=0;i<degree.length;i++) { %>
                                                                    <option class="dropitmes" value="<%= degree[i]._id %>"><%= degree[i].Degree_name %></option>
                                                                    <% } %>
                                                        </select>

                                                    </center>
                                                </td>
                                                
                                                
                                                <td class="center-items" id="drop-1">
                                                    <center>

                                                        <select name="branch" id="course-dropdown" class="dropmenu">

                                                            <option value="none" 
                                                                class="dropitems">Select Branch</option>
                                                                <% for(var i=0;i<branch.length;i++) { %>
                                                                    <option class="dropitmes" value="<%= branch[i]._id %>"><%= branch[i].Branch_name %></option>
                                                                    <% } %>
                                                        </select>
                                                    </center>
                                                </td>
                                                
                                               
                                                <td class="center-items" id="drop-1">
                                                    <center>

                                                        <select name="batch" id="course-dropdown" class="dropmenu">
                                                            <option value="none" selected disabled hidden
                                                                class="dropitems">Select Batch</option>
                                                            <option class="dropitmes">2020</option>
                                                            <option class="dropitmes">2021</option>
                                                            <option class="dropitmes">2022</option>

                                                        </select>

                                                    </center>
                                                </td>
                                                <td class="center">
                                                    <center><input type="file" class="file-ip" name="excelfile" id="file-up"></center>
                                                </td>
                                                <td>
                                                    <div class="btn-place">
                                                        <button type="submit" class="btn"><b>Submit</b></button>
                                                    </div>
                                                </td>
                                                </tr>
                                        
                                           
                                    </div>
        
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="btn-place">
                            <button type="submit" class="btn"><b>Submit</b></button>
                        </div> -->
                </form>

                <!-- <table>
                            <thead>
                                <th style="width: 10%;">Sr No.</th>
                                <th style="width: 15%;">Programme</th>
                                <th style="width: 20%;">Batch</th>
                                <th style="width: 35%;">Upload</th>
                            </thead>


                            <tbody>
                                <div class="temp-div">


                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="leftpad">1</td>
                                        <td class="leftpad">B-Tech ICT</td>
                                        <td class="center-items" id="drop-1">
                                            <center>

                                                <select name="" id="course-dropdown" class="dropmenu"
                                                    onchange="window.location.href=this.value;">
                                                    <option value="none" selected disabled hidden class="dropitems">
                                                        Select
                                                        Batch</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2021</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2020</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2022</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2023</option>
                                                    <option
                                                        value="https://www.nationalgeographic.com/environment/article/deserts#:~:text=What%20is%20a%20desert%3F,class%20of%20regions%20called%20drylands."
                                                        class="dropitmes">2019</option>
                                                </select>

                                            </center>
                                        </td>
                                        <td class="center">
                                            <center><input type="file" class="file-ip"></center>
                                        </td>
                                    </tr>
                                </div>
                            </tbody> -->
                <!-- </table> -->
                <!-- </div> -->

                <!-- <div class="btn-place">
                    <button type="button" class="btn"><b>Submit</b></button>
                </div>
                </form> -->

                <div class="errplc">
                    <p class="errtxt">Please Enter Email Address</p>
                </div>


                <!-- content     -->
            </div>


            <!-- downflex -->
        </div>

        <!-- wrapper -->
    </div>
    <script src="../../Assets/css/admin-semester.js"></script>
</body>

</html>
</body>

</html>
