<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admin-common-page.css">
    <link rel="stylesheet" href="css/admin-program.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="upperbar">
            <div class="weblogoplace">
                <img src="img/logo.png" alt="not rendered" id="weblogoimg">
            </div>
            <div class="webnameplace">
                <div class="webname"><p id="temp1">Student Information System</p></div>
            </div>        
        </div>
        <div class="downflex">
        <div class="sidenav">
            <div class="sidenavopt">
                <ul>
                    <li><a href='/adminhome' class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
                    <li id="for-down"><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
                            <select name="" id="test" onmousedown="forfocus()" onblur="forblur()" class="dropmenu"
                                onchange="window.location.href=this.value;">
                                <option value="none" selected disabled hidden class="dropitems">New Registration
                                </option>
                                <option
                                    value="/admin-student-registration"
                                    class="dropitmes">Student Registration</option>
                            </select>
                        </a></li>

                    <li><a href="/viewcourse"><i class="fa-solid fa-clipboard"></i>&nbsp;Course Management </a>
                    </li>
                    <li><a href="/viewdegree"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Degree
                            Management </a></li>
                    <li><a href="/viewbranch"><i class="fa-solid fa-clipboard"></i>&nbsp;Branch Management </a>
                    </li>
                    <li><a href="/viewprogram"><i class="fa-solid fa-clipboard"></i>&nbsp;Programme Management
                        </a></li>
                    <li><a href="/addsemester"><i class="fa-solid fa-clipboard"></i>&nbsp;Semester </a></li>

                    <li><a href="/admin-announcement"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Announcement </a></li>

                    
                    <li><a href="/changepwdadmin"><i class="fa-solid fa-key"></i> Change Password
                        </a></li>
                    <li><a href="/logoutadmin"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
                </ul>
            </div>
            <div class="sidenavdown">
                <div class="curruserlogo">
                    
                </div>
                <div class="currusername">
                    <%= user[0].admin_name %> 
                </div>
            </div>
        </div>

        <div class="content">
            
            <div class="btn-place">
                <a href="/addprogram">
                <button type="button" class="btn"><b>Add Programme</b></button>
            </a>
            </div>
            
            
            <div class="table-wrapper">
                <table>
                    <thead>
                        <th style="width: 10%;">Sr No.</th>
                        <th style="width: 15%;">Degree</th>
                        <th style="width: 20%;">Branch</th>
                        <th style="width: 35%;">Course</th>
                        <th style="width: 10%;">Remove</th>
                    </thead>
                
                
                    <tbody>
                        <div class="temp-div">

                            <% for(var i=0;i<program.length;i++) { %>
                        <tr>
                            <td class="leftpad"><%= i+1%></td>
                            <td class="leftpad"><%= program[i].DegreeOffered.Degree_name %></td>
                            <td class="center-items"><center><%= program[i].BranchOffered.Branch_name%></center></td>
                            <td class="center-items" id="drop-1"><center>

                                <select name="courses" id="course-dropdown" class="dropmenu">
                                    <option value="none" selected disabled hidden class="dropitems">View courses</option>

                                    <% for(var j=0;j<program[i].CourseOffered.length;j++) { %>
                                        <option value="<%= program[i].CourseOffered[j].id %>">
                                            <%= program[i].CourseOffered[j].Course_Name %>
                                        </option>
                                    <% } %>
                                  </select>

                            </center></td>
                            <td class="center">
                                <center>
                                    <form action="/viewprogram" method="post">
                                        <button type="submit" name="delete" value="<%= program[i].id %>">
                                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </center>
                            </td>
                            <!-- <td class="center"><center><a href="#"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></center></td> -->
                        </tr>

                        <% } %>
                        </div>
                    </tbody>
                </table>
            </div>
        
            
     <!-- content     -->
    </div>

    
    <!-- downflex -->
    </div>

    <!-- wrapper -->
    </div>
<script src="js/admin-programme.js"></script>
</body>
</html>
</body>
</html>


