<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/student-common-page.css">
    <link rel="stylesheet" href="css/student-result.css">
    <script src="https://kit.fontawesome.com/300fc8e5c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div class="upperbar">
            <div class="weblogoplace">
                <img src="img/logo.png" alt="not rendered" id="weblogoimg">
            </div>
            <div class="webnameplace">
                <div class="webname"><p id="temp1">Student Information System</p></div>
            </div>        
        </div>
        <div class="downflex">
        <div class="sidenav" action="/studenthome" , method="post">
            <div class="sidenavopt">
                <ul>
                    <li><a href="/studenthome" class="bcolor"><i class="fa-solid fa-house"></i> Home </a></li>
                    <li><a href="/viewstudent" class="bcolor"><i class="fa-solid fa-user"></i> Student Details </a></li>
                    <li><a href="/viewgrade" class="bcolor"><i class="fa-solid fa-file"></i>&nbsp;Grade Reports</a></li>
                    <li><a href="/viewattendence"><i class="fa-solid fa-clipboard"></i>&nbsp;Attendence </a></li>
                    <li><a href="/courseregistration"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Course Registration </a></li>
                    <li><a href="/student-announcement"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Announcement </a></li>
                    <li><a href="/changepwdstudent"><i class="fa-solid fa-key"></i> Change Password </a></li>
                    <li><a  href="/logoutstudent"><i class="fa-solid fa-right-to-bracket"></i> Logout </a></li>
                  </ul>
            </div>
            <div class="sidenavdown">
                <div class="curruserlogo">
    
                </div>
                <div class="currusername">
                    <%= student[0].firstname%> <%= student[0].lastname%>
                </div>
            </div>
        </div>
    
        <div class="content">
       
            <div class="result-wrapper">
                <div class="gradetagplace">
                    <h2>GRADE REPORT</h2>
                </div>
                <div class="basicdetailplace">
                    <p class="grid-item start"><b>Name</b></p>
                    <p class="grid-item start"><%= student[0].firstname + " " + student[0].lastname%></p>
                    <p class="grid-item start"><b>Student-id</b></p>
                    <p class="grid-item start"><%= student[0].stud_id%></p>
                    <p class="grid-item start"><b>Programme</b></p>
                    <p class="grid-item start"><%=p_name.DegreeOffered.Degree_name + ' (' + p_name.BranchOffered.Branch_name + ')' %></p>
                    <p class="grid-item start"><b>Batch</b></p>
                    <p class="grid-item start"><%= student[0].Batch%></p>
                </div>
                <div class="semestertag">
                    <h2 class="Sem-Tag"><%= sem_name%></h2> 
                </div>
                <div class="gradedetailplace">
                    <h3 class="grid-item titles">Course</h3>
                    <h3 class="grid-item titles">Code</h3>
                    <h3 class="grid-item titles">Credit</h3>
                    <h3 class="grid-item titles">Grade</h3>
                    <h3 class="grid-item titles">Grade-Points</h3>

                    <% for (var i=0; i <Courses.length; i++) { %>

                        <p class="grid-item start"><%= Courses[i].Course_Name%></p>
                        <p class="grid-item"><%= Courses[i].Course_code%></p>
                        <p class="grid-item"><%= Courses[i].Course_credit%></p>
                        <p class="grid-item"><%= data[i].grade%></p>
                        <p class="grid-item"><%= Courses[i].Course_credit*data[i].grade%></p>

                        <% } %>

                    
                    
                </div>
                <div class="countplace">
                    <p class="center-and-bold" id="forspanning">Semester Perfomance</p>
                    <p class="center-and-bold">Credits-Registred</p>
                    <p class="center-and-bold">Credits-Earned</p>
                    <p class="center-and-bold">Grade-Points Earned</p>
                    <p class="center-and-bold">SPI</p>
                    
                    <% var spi = 0, total=0,  tot_credit=0%>
                    <% for (var i=0; i <Courses.length; i++) { %>
                        <% tot_credit += Courses[i].Course_credit%>
                        <% total += data[i].grade*Courses[i].Course_credit %>

                    <% } %>

                    
                    <% spi = Math.round(spi*100)/100%>
                    <p class="grid-item"><%=tot_credit%></p>
                    <p class="grid-item"><%=tot_credit%></p>
                    <p class="grid-item"><%= total %></p>
                    <% total /= tot_credit %>
                    <% spi = Math.round(total*100)/100%>
                    <p class="grid-item"><%= spi %></p>
                    

                </div>
                
            </div>
            
     <!-- content     -->
    </div>

    
    <!-- downflex -->
    </div>

    <!-- wrapper -->
    </div>

</body>
</html>
</body>
</html>